.cd-dropdown,
.cd-select {
	position: relative;
	width: 140px;
	display: block;
	float:right;
	background-color:#4c004c;
	margin:13px 60px 0 0;
	z-index:999;
}

.cd-dropdown > span {
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 18px;
	background: #4c004c;
	display: block;
	padding: 0 30px 0 20px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(../../images/background/pf-sort-bg.png);
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 0;
	width: 50px;
	text-align: center;
	font-size: 12px;
	height: 35px;
	line-height: 16px;
	text-indent:-99999px;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
	text-indent:-99999px;
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	z-index:999;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 170px;
	padding-left:20px;
	background: #4c004c;
	line-height: 35px;
	display: block;
	color: #fff;
	cursor: pointer;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

/*
li > span.pcontstat {
	margin-left: 30px;
}
*/

li > span.pbalv, li > span.pbale, li > span.pbala, span.pbalan, span.pbalca {
	margin-left: 30px;
	background: rgba(6,198,172,1) !important;
	background: -moz-linear-gradient(left, rgba(6,198,172,1) 5%, rgba(6,198,172,0.98) 5%, rgba(6,198,172,0.98) 6%, rgba(76,0,76,0.98) 7%) !important;
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(6,198,172,1)), color-stop(5%, rgba(6,198,172,0.98)), color-stop(6%, rgba(6,198,172,0.98)), color-stop(7%, rgba(203,95,211,0.98))) !important;
	background: -webkit-linear-gradient(left, rgba(6,198,172,1) 5%, rgba(6,198,172,0.98) 5%, rgba(6,198,172,0.98) 6%, rgba(76,0,76,0.98) 7%) !important;
	background: -o-linear-gradient(left, rgba(6,198,172,1) 5%, rgba(6,198,172,0.98) 5%, rgba(6,198,172,0.98) 6%, rgba(76,0,76,0.98) 7%) !important;
	background: -ms-linear-gradient(left, rgba(6,198,172,1) 5%, rgba(6,198,172,0.98) 5%, rgba(6,198,172,0.98) 6%, rgba(76,0,76,0.98) 7%) !important;
	background: linear-gradient(to right, rgba(6,198,172,1) 5%, rgba(6,198,172,0.98) 5%, rgba(6,198,172,0.98) 6%, rgba(76,0,76,0.98) 7%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06c6ac', endColorstr='#cb5fd3', GradientType=1 ) !important;
}

li > span.pbalv:hover, li > span.pbale:hover, li > span.pbala:hover, span.pbalan:hover, span.pbalca:hover  {
	margin-left: 30px;
	background: #06c5ac !important;
}

li > span.pbal {
	cursor: default !important;
	background-color: #06c5ac !important;
}

.beneficii-list {
	color: #02b98d;
	margin-left: 0 !important;
}

.data-table {
	border-collapse: collapse;
	width: 100%;
}

.border-bottom {
	border-bottom: 1px solid #000;
}

.border-right {
	border-right: 1px solid #000;
}

.table-left-mrg {
	margin-left: 5px;
}

.table-right-mrg {
	margin-right: 5px;
}

.table-header-margin-right {
	margin-right: 15%;
}

.table-photo-margin-top {
	margin-top: 7%;
}

.table-h5 {
	margin-top: 3%;
	margin-bottom: 1%;
}

.table-row {
	border-bottom: 1px solid #def;
	margin-top: 2%;
}