{% block content %}
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="../assets/css/ie.css" type="text/css" media="all" />       
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/ico/apple-touch-icon-57x57.png">

    <!-- Font
            ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,200italic,400italic,600italic,600,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

</head>
<body class="main-portfolio dark-footer">
	
	<header id="flx-header" class="flx-divider cbp-af-header">
    	
        <div class="wrapper">
        	
            <div class="row-fluid">
            	
                <div class="span12 clearfix">
                	
                    <div id="logo-image">
                    
                    	<a href="index.html"><img src="placeholders/logo.png" alt="" /></a>
                        
                    </div><!--end:logo-image-->
                    
                     <nav id="main-nav">
                    
                        <ul id="main-menu" class="clearfix">
                        
                            <li>
                                <a href="index.html"><i class="icon-home"></i> Acasa</a>
                            </li>
                            <li class="current-menu-item">
                                <a href="oferta.html"><i class="icon-cogs"></i> Echipamente</a>
                            </li>
                            <li>
                                <a href="servicii.html"><i class="icon-tasks"></i> Servicii</a>
                            </li>
                            <li>
                                <a href="despre.html"><i class="icon-group"></i> Despre</a>
                            </li>
                            <li>
                                <a href="contact.html"><i class="icon-envelope-alt"></i> Contact</a>
                            </li>
                        </ul><!--end:main-menu-->
                        
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button>Deschide Meniu</button>
                            <ul class="dl-menu">
                                <li>
                                    <a href="index.html">Acasa</a>
                                </li>
                                <li>
                                    <a href="oferta.html">Echipamente</a>
                                </li>
                                <li>
                                    <a href="servicii.html">Servicii</a>
                                </li>
                                <li>
                                    <a href="despre.html">Despre</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div><!-- /dl-menuwrapper -->
                        
                    </nav><!--end:main-nav-->
                    
                </div><!--end:span12-->
                
            </div><!--end:row-fluid-->
            
        </div><!--end:wrapper-->
        
    </header><!--end:flx-header-->
    
    <div id="main-content">
        
        <section class="flx-intro flx-divider">
        
        	<div class="wrapper flx-line">
            
            	<div class="row-fluid">
                
                    <div class="span12 clearfix">
                    
                        <p class="flx-portfolio-thumb"></p>
                        
                        <div class="flx-intro-content">
                        
                            <h2>Oferta noastra</h2>
                            <p>Va putem oferi o gama larga de utilaje reciclare: prese de balotat deseuri-verticale, prese de balotat deseuri-orizontale, prese de balotat deseuri-automate, prescontainer Abroll, prescontainer Absetz, prese stationare, tocatoare plastic si alte echipamente specifice, adaptabile fiecarei cereri.</p>
                            
                        </div><!--end:flx-intro-content-->
                    
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:flx-intro-->
        
        <div class="breadcrumb flx-divider">
        
        	<div class="wrapper flx-line">
            
            	<div class="row-fluid">
                
                	<div class="span12 clearfix">
                    	<a  href="index.html">Acasa</a>
                        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                        <span>Oferta</span>
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
        
        </div><!--end:breadcrumb-->
        
        <div class="pf-detail-box flx-divider" id="pf-detail-box" style="display: none;">
            <div class="wrapper flx-line">        
                <div class="row-fluid">
                    <div class="span12">
                    </div><!--end:span12-->                                    
                </div><!--end:row-fluid-->     
            </div><!--end:wrapper-->
        </div><!--end:pf-detail-box-->
        
        <section class="widget portfolio-widget flx-divider ff-container">
        
        	<header class="flx-header flx-divider">
                <div class="wrapper flx-line clearfix">
                    <select id="cd-dropdown" class="cd-select">
                        <option value="-1" selected>Categorii</option>
                        <option value="1" class="all">Toate</option>
                        <option value="2" class="pcont">Prescontainere</option>
                        <option value="3" class="pbal">Prese balotat</option>
                        <option value="4" class="pbric">Prese brichetat</option>
                        <option value="5" class="incarc">Incarcatoare</option>
                        <option value="6" class="statrans">Statii transfer</option>
                    </select>
                </div><!--end:wrapper-->
            </header>
            
            <div class="wrapper flx-line">
            
            	<div class="row-fluid">
                	
                    <div class="span12">
                        
                        <h2 class="widget-title">Echipamente</h2>
                        
                        <ul class="pf-box ourHolder clearfix">
                            <li class="item" data-id="id-1" data-type="pcont">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-1.jpg" alt="Prescontainer" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 1, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-1.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prescontainer Absetz</h5>
                                                <span>Prescontainer standard</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-2" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-3.jpg" alt="Prese de balotat" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 3, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-3.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa stationara 1900XL</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-3" data-type="pbric">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-9.jpg" alt="Prese de brichetat" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 9, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-9.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de brichetat</h5>
                                                <span>Presa de brichetat doze BP15</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-4" data-type="pcont">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-2.jpg" alt="Prescontainer" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 2, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-2.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prescontainer Abroll</h5>
                                                <span>Prescontainer Jumbo</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-5" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-4.jpg" alt="Prese de balotat" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 4, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-4.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa de putere mare PP1208</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-6" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-5.jpg" alt="Prese de balotat" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 5, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-5.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa de putere medie MK1100</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-7" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-7.jpg" alt="Presa balotat orizontala" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 7, true);">Detalii echipament</a></li>
                                           <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-7.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa balotat orizontala HPH 50</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-8" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-8.jpg" alt="Presa de balotat automata" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 8, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-8.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa de balotat automata 400 H3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-9" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-6.jpg" alt="Presa putere mica multicamerala" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 6, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-6.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa putere mica multicamerala</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-10" data-type="statrans">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-10.jpg" alt="" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 10, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-10.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Statii transfer</h5>
                                                <span>Statie transfer deseuri 1900XXL</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-11" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-11.jpg" alt="" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 11, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-11.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa de balotat 615 H4A</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-12" data-type="pbal">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-12.jpg" alt="" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 12, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-12.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                <span>Presa stationara 1900 XL</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-id="id-13" data-type="incarc">
                                <div class="view view-first">
                                    <img src="placeholders/portfolio-images/pf-13.jpg" alt="" />
                                    <div class="mask">
                                        <ul>
                                            <li class="pf-header"><a href="#pf-detail-box" onClick="return felixplus_portfolio_detail_click(jQuery(this), 13, true);">Detalii echipament</a></li>
                                            <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-13.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                            <li class="pf-footer">
                                                <h5>Incarcatoare</h5>
                                                <span>Incarcator frontal</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        
                        
                            
                    </div><!--end:span12-->
                    
                </div><!--end:row-fluid-->
                
            </div><!--end:wrapper-->
        
        </section><!--end:portfolio-widget-->
        
        <section class="widget flx-divider">
        
        	<div class="wrapper">
            
                <div class="row-fluid">
                
                    <div class="span12">
                            
                        <div class="tag-line-box clearfix">
                            <div class="tag-line">
                                <h2>MBT Romania va ofera o gama larga de utilaje.</h2>
                                <p>Indiferent de tipul de utilaj necesar, noi putem oferii atat utilaje standard cat si personalizate!</p>
                            </div><!--end:tag-line-->
                            
                            <a class="icon-button clearfix" href="contact.html"><i class="icon-envelope"></i>Contact</a>
                        </div><!--tag-line-box-->
                    
                    </div><!--end:span12-->
                
                </div><!--row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:widget-->
        
    </div><!--end:main-content-->
    
    <div id="page-bottom" class="flx-divider">
        
        <header class="flx-divider"><div class="wrapper flx-line"></div></header>
        
        <div class="wrapper flx-line">
            
            <div class="row-fluid">
            
                <div class="span12 clearfix">
                
                    <ul id="bottom-sidebar">
                    
                        <li>
                        
                            <aside class="widget widget_text">
                            
                                <h2 class="widget-title">Despre noi</h2>
                                
                                <div class="textwidget">
                                
                                    <p>Suntem o companie care are ca obiect de munca proiectarea, producerea si comercializarea de utilaje reciclare pentru colectarea si compactarea deseurilor reciclabile. MBT isi desfasoara activitatea la nivel national oferindu-va o gama larga de utilaje pentru reciclare, precum: prescontainere, prese de balotat deseuri, tocatoare deseuri, prese stationare, statii de transfer deseuri, incarcatoare mobile.</p>
                                
                                    <p>Prescontainerele MBT servesc la depozitarea, compactarea si transportul deseurilor, au o constructie intarita si se bucura de o capacitate de incarcare foarte mare. Cu un design estetic si ergonomic conforme cu toate normele de siguranta si igiena va putem oferi o gama larga de utilaje reciclare: prese de balotat deseuri-verticale, prese de balotat deseuri-orizontale, prese de balotat deseuri-automate, prescontainer Abroll, prescontainer Absetz, prese stationare, tocatoare plastic si alte echipamente specifice, adaptabile fiecarei cereri.</p>
                                    
                                </div><!--textwidget-->
                                
                                <ul class="contact-info">
                                
                                    <li class="green">
                                        <i class="icon-map-marker"></i><a class="contact-address" href="http://goo.gl/maps/5k7nR" target="_blank">Sighisoara, MS 54 54 00, Romania</a>
                                    </li>
                                    <li class="orange">
                                        <i class="icon-phone"></i><a class="contact-phone" href="callto:0040746306044">+(40) 746 306 044</a>
                                    </li>
                                    <li class="blue">
                                        <i class="icon-envelope-alt"></i><a class="contact-email" href="mailto:utilajereciclare@mbt-romania.ro">utilajereciclare@mbt-romania.ro</a>
                                    </li>
                                    
                                </ul><!--end:contact-info-->
                            
                            </aside><!--end:widget-->
                        
                        </li>
                    
                    </ul><!--end:bottom-sidebar-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </div><!--end:page-bottom-->
    
    <footer id="page-footer">
    
        <div class="wrapper">
        
            <div class="row-fluid">
            
                <div class="span12 clearfix">
                
                    <div class="copyright">
                        <p>Copyright © 2014 <a href="http://www.mbt-romania.ro">MBT Romania</a></p>
                        <span>Toate pozele si descrieriile precum si preturile afisate pe acest website au caracter informativ.</span>
                    </div><!--end:copyright-->
                    
                    <div class="social-media-widget">
                        <div class="social-bookmarks">                    
                            <ul>
                                <li class="facebook"><a href="https://www.facebook.com/pages/MBT-Utilaje-pentru-reciclare/162205790613265" target="_blank">facebook</a></li>
                                <li class="twitter"><a href="https://twitter.com/MBTRomania" target="_blank">twitter</a></li>
                                <li class="googleplus"><a href="https://plus.google.com/107743334800615732041/posts" target="_blank">googleplus</a></li>
                            </ul>
                        </div><!--end:social-bookmarks-->
                    </div><!--end:social-media-widget-->
					
					<p id="back-top">
						<a href="#top"><i class="icon-chevron-up"></i></a>
					</p><!--end:back-top-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </footer><!--end:page-footer-->
{% endblock %}