{% block content %}
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="../assets/css/ie.css" type="text/css" media="all" />       
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/ico/apple-touch-icon-57x57.png">

    <!-- Font
            ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,200italic,400italic,600italic,600,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

</head>
<body class="dark-footer">
	
	<header id="flx-header" class="flx-divider cbp-af-header">
    	
        <div class="wrapper">
        	
            <div class="row-fluid">
            	
                <div class="span12 clearfix">
                	
                    <div id="logo-image">
                    
                    	<a href="index.html"><img src="placeholders/logo.png" alt="reciclare" /></a>
                        
                    </div><!--end:logo-image-->
                    
                     <nav id="main-nav">
                    
                        <ul id="main-menu" class="clearfix">
                        
                            <li>
                                <a href="index"><i class="icon-home"></i> Acasa</a>
                            </li>
                            <li>
                                <a href="oferta"><i class="icon-cogs"></i> Echipamente</a>
                            </li>
                            <li class="current-menu-item">
                                <a href="servicii"><i class="icon-tasks"></i> Servicii</a>
                            </li>
                            <li>
                                <a href="despre"><i class="icon-group"></i> Despre</a>
                            </li>
                            <li>
                                <a href="contact"><i class="icon-envelope-alt"></i> Contact</a>
                            </li>
                        </ul><!--end:main-menu-->
                        
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button>Deschide Meniu</button>
                            <ul class="dl-menu">
                                <li>
                                    <a href="index">Acasa</a>
                                </li>
                                <li>
                                    <a href="oferta">Echipamente</a>
                                </li>
                                <li>
                                    <a href="servicii">Servicii</a>
                                </li>
                                <li>
                                    <a href="despre">Despre</a>
                                </li>
                                <li>
                                    <a href="contact">Contact</a>
                                </li>
                            </ul>
                        </div><!-- /dl-menuwrapper -->
                        
                    </nav><!--end:main-nav-->
                    
                </div><!--end:span12-->
                
            </div><!--end:row-fluid-->
            
        </div><!--end:wrapper-->
        
    </header><!--end:flx-header-->
    
    <div id="main-content">
        
        <section class="flx-intro flx-divider">
        
        	<div class="wrapper flx-line">
            
            	<div class="row-fluid">
                
                    <div class="span12 clearfix">
                    
                        <p class="flx-service-thumb"></p>
                        
                        <div class="flx-intro-content">
                        
                            <h2>Servicii</h2>
                            <p>Echipamentele noastre, incepand de la prescontainere, prese de balotat deseuri, tocator plastic si pana la statii de transfer deseuri, se remarca prin eficienta sporita, garanteaza prin  calitate si contribuie la dezvoltarea afacerii tale, oferindu-ti posibilitatea de a te bucura  de costuri reduse de transport si depozitare, minimizarea costurilor de evacuare a deseurilor si recuperarea rapida a investitiei.</p>
                            
                        </div><!--end:flx-intro-content-->
                    
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:flx-intro-->
        
        <div class="breadcrumb flx-divider">
        
        	<div class="wrapper flx-line">
            
            	<div class="row-fluid">
                
                	<div class="span12 clearfix">
                    	<a  href="index.html">Acasa</a>
                        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                        <span>Servicii</span>
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
        
        </div><!--end:breadcrumb-->
        
        <section class="service-slider-widget flx-divider">
        
            <div class="wrapper">
            
            	<div class="row-fluid">
                
                	<div class="span12 clearfix">
                    
                        <div class="flexslider service-slider">
                            <ul class="slides">
                                <li>
                                    <img src="img/servicii/1.png" alt="Presa hidraulica" />
                                </li>
                                <li>
                                    <img src="img/servicii/2.png" alt="Presa de reciclare hidraulica" />
                                </li>
                            </ul>
                        </div><!--service-slider-->
                    
                    </div><!--end:span12-->
                    
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:service-slider-widget-->
        
        <section class="service-area flx-divider">
        
            <div class="wrapper flx-line">
            
            	<div class="row-fluid">
                
                	<div class="span12">
                    
                    	<div class="service-widget">
                        
                            <ul class="clearfix">
                                <li>
                                    <article>
                                    	<i class="icon-refresh"></i>
                                        <h2>Utilaje reciclare</h2>
                                        <p>Prescontainerele MBT servesc la depozitarea, compactarea si transportul deseurilor.</p>
                                    </article>
                                </li>
                              <a href="#" data-toggle="modal" data-target="#consumabile_modal">
                                <li class="servicii_link">
                                    <article>
                                    	<i class="icon-tags"></i>
                                        <h2>Consumabile</h2>
                                        <p>Pentru o functionare in parametrii normali, va oferim o gama larga de consumabile necesare.</p>
                                    </article>
                                </li>
                                <li>
                           	  </a>
                                    <article>
                                    	<i class="icon-wrench"></i>
                                        <h2>Mentenanta</h2>
                                        <p>Pozitionarea in centrul tarii ne ajuta sa fim prompti la orice cerere de service din partea dumneavoastra.</p>
                                    </article>
                                </li>
                              <a href="#" data-toggle="modal" data-target="#inchirieri_modal">
                                <li class="servicii_link">
                                    <article>
                                    	<i class="icon-time"></i>
                                        <h2>Inchirieri</h2>
                                        <p>MBT va pune la dispozitie o gama larga de prescontainere si prese de balotat deseuri, disponibile pentru inchiriat.</p>
                                    </article>
                                </li>

                              </a>

                            </ul>
                        
                        </div><!--end:team-widget-->
                    
                    </div><!--end:span12-->
                    
                </div><!--end:row-fluid-->
                
            </div><!--end:wrapper-->
        
        </section>

<!-- Modal Consumabile -->
<div class="modal fade" id="consumabile_modal" tabindex="-1" role="dialog" aria-labelledby="consumabile" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="consumabile">Consumabile</h4>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span12 modal-list">
            <h4>Pentru ca echipamentul dumneavoastra sa functioneze in parametrii optimi, sigur aveti nevoie de:</h4>
            <h5>Banda de legat baloti</h5>
            <ul>
                <li>9 mm/500 m</li>
                <li>13 mm/500 m</li>
                <li>19 mm/500 m</li>
                <li>19 mm/200 m PET si Folie</li>
                <li>25 mm/200 m pentru materiale plastice</li>
        </ul>
            <h5>Clipsuri pentru banda de legat</h5>
            <ul>
                <li>13 mm/set 1000 bucati</li>
                <li>19 mm/set 1000 bucati</li>
                <li>25 mm/set 800 bucati</li>
        </ul>
            <h5>Clesti pentru tensionarea legaturii cu banda</h5>
            <ul>
                <li>Cleste pentru legatura de 19 mm</li>
                <li>Cleste pentru legatura de 25 mm</li>
        </ul>
            <h5>Spirale din sarma galvanizata</h5>
            <ul>
                <li>Sarma galvanizata de 2.8 cu capetele carlig. Set de 48 bucati la 4 m fiecare.</li>
                <li>Sarma galvanizata de 2.8 cu capetele carlig. Set de 48 bucati la 3.6 m fiecare.</li>
        </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Inchide</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Inchirieri -->
<div class="modal fade" id="inchirieri_modal" tabindex="-1" role="dialog" aria-labelledby="inchirieri" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="inchirieri">Inchirieri</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Inchide</button>
      </div>
    </div>
  </div>
</div>
       
        <section class="widget service-bottom-widget flx-divider">
        
        	<div class="wrapper">
            
                <div class="row-fluid">
                
                    <div class="span5">
                            
                        <h2 class="widget-title">De ce noi?</h2>
                        
                        <div class="acc-wrapper flat">
                        
                            <div class="accordion-title active">
                                <h5><a href="#">Experienta si profesionalism</a></h5>
                                <span class="plus-icon"></span>
                            </div>
                            <div class="accordion-container" style="display: block;">
                                Experienta de peste 25 de ani, impreuna cu profesionalismul si energia de munca a echipei noastre ne-a propulsat in topul producatorilor din acest domeniu, sporind totodata credibilitatea clientilor nostri in potentialul companiei. 
                            </div>
                            
                            <div class="accordion-title">
                              <h5><a href="#">Gama larga de echipamente</a></h5>
                              <span class="plus-icon"></span>
                            </div>
                            <div class="accordion-container" style="display: none;">
                                O gama larga de utilaje pentru reciclare: prese profesionale, industriale sau automate de balotat deseuri, prescontainere Abroll sau Absetz, prese stationare, tocatoare deseuri, granulatoare plastic si alte echipamente specifice, adaptabile fiecarei cereri.
                            </div>
                            
                            <div class="accordion-title">
                              <h5><a href="#">Design si constructie superioara</a></h5>
                              <span class="plus-icon"></span>
                            </div>
                            <div class="accordion-container" style="display: none;">
                                Cu un design estetic si ergonomic conforme cu toate normele de siguranta si igiena echipamentele noastre, incepand de la prescontainere, prese de balotat deseuri, tocator plastic si pana la statii de transfer deseuri, se remarca prin eficienta sporita, garanteaza prin  calitate si contribuie la dezvoltarea afacerii tale
                            </div>
                            
                            <div class="accordion-title">
                              <h5><a href="#">Suport pe termen lung</a></h5>
                              <span class="plus-icon"></span>
                            </div>
                            <div class="accordion-container" style="display: none;">
                                Suntem disponibili pentru a va rezolva problemele echipamentelor oricand si oriunde in tara, 24 din 24, 7 zile pe saptamana. Va asiguram oameni priceputi in mecanica, electrica si hidraulica care va vor pune utilajul in functiune in cel mai scurt timp, munca serioasa si de calitate precum si piese de schimb cu garantie.

                            </div>
                            
                        </div>
                    
                    </div><!--end:span5-->
                    
                    <div class="span7">
                            
                        <h2 class="widget-title">Video</h2>
                        
                        <div class="video-wrapper">
                        	<iframe src="http://player.vimeo.com/video/83869624?portrait=0&amp;badge=0&amp;color=ffffff" width="100%" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div><!--end:video-wrapper-->
                    
                    </div><!--end:span7-->
                
                </div><!--row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:widget-->
        
        <section class="widget logo-client-widget flx-divider">
        
        	<div class="wrapper">
            	
                <div class="row-fluid">
                	
                    <div class="span12">
                    	
                        <ul class="logo-client clearfix">
                            <li><a href="http://www.mcdonalds.ro" target="_blank"><img alt="mcdonalds" src="img/logo-client/mcdonalds.jpg"></a></li>
                            <li><a href="http://www.ikea.ro" target="_blank"><img alt="ikea" src="img/logo-client/ikea.jpg"></a></li>
                            <li><a href="http://www.kaufland.ro" target="_blank"><img alt="kaufland" src="img/logo-client/kaufland.jpg"></a></li>
                            <li><a href="http://www.carrefour.ro" target="_blank"><img alt="carrefour" src="img/logo-client/carrefour.jpg"></a></li>
                            <li><a href="http://www.profi.ro" target="_blank"><img alt="profi" src="img/logo-client/profi.jpg"></a></li>
                        </ul><!--logo-client-->
                        
                    </div><!--end:span12-->
                    
                </div><!--end:row-fluid-->
                
            </div><!--end:wrapper-->
            
        </section><!--end:widget-->
        
    </div><!--end:main-content-->
    
    <div id="page-bottom" class="flx-divider">
        
        <header class="flx-divider"><div class="wrapper flx-line"></div></header>
        
        <div class="wrapper flx-line">
            
            <div class="row-fluid">
            
                <div class="span12 clearfix">
                
                    <ul id="bottom-sidebar">
                    
                        <li>
                        
                            <aside class="widget widget_text">
                            
                                <h2 class="widget-title">Despre noi</h2>
                                
                                <div class="textwidget">
                                
                                    <p>Suntem o companie care are ca obiect de munca proiectarea, producerea si comercializarea de utilaje reciclare pentru colectarea si compactarea deseurilor reciclabile. MBT isi desfasoara activitatea la nivel national oferindu-va o gama larga de utilaje pentru reciclare, precum: prescontainere, prese de balotat deseuri, tocatoare deseuri, prese stationare, statii de transfer deseuri, incarcatoare mobile.</p>
                                
                                    <p>Prescontainerele MBT servesc la depozitarea, compactarea si transportul deseurilor, au o constructie intarita si se bucura de o capacitate de incarcare foarte mare. Cu un design estetic si ergonomic conforme cu toate normele de siguranta si igiena va putem oferi o gama larga de utilaje reciclare: prese de balotat deseuri-verticale, prese de balotat deseuri-orizontale, prese de balotat deseuri-automate, prescontainer Abroll, prescontainer Absetz, prese stationare, tocatoare plastic si alte echipamente specifice, adaptabile fiecarei cereri.</p>
                                    
                                </div><!--textwidget-->
                                
                                <ul class="contact-info">
                                
                                    <li class="green">
                                        <i class="icon-map-marker"></i><a class="contact-address" href="http://goo.gl/maps/5k7nR" target="_blank">Sighisoara, MS 54 54 00, Romania</a>
                                    </li>
                                    <li class="orange">
                                        <i class="icon-phone"></i><a class="contact-phone" href="callto:0040746306044">+(40) 746 306 044</a>
                                    </li>
                                    <li class="blue">
                                        <i class="icon-envelope-alt"></i><a class="contact-email" href="mailto:utilajereciclare@mbt-romania.ro">utilajereciclare@mbt-romania.ro</a>
                                    </li>
                                    
                                </ul><!--end:contact-info-->
                            
                            </aside><!--end:widget-->
                        
                        </li>
                    
                    </ul><!--end:bottom-sidebar-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </div><!--end:page-bottom-->
    
    <footer id="page-footer">
    
        <div class="wrapper">
        
            <div class="row-fluid">
            
                <div class="span12 clearfix">
                
                    <div class="copyright">
                        <p>Copyright © 2014 <a href="http://www.mbt-romania.ro">MBT Romania</a></p>
                        <span>Toate pozele si descrieriile precum si preturile afisate pe acest website au caracter informativ.</span>
                    </div><!--end:copyright-->
                    
                    <div class="social-media-widget">
                        <div class="social-bookmarks">                    
                            <ul>
                                <li class="facebook"><a href="https://www.facebook.com/pages/MBT-Utilaje-pentru-reciclare/162205790613265" target="_blank">facebook</a></li>
                                <li class="twitter"><a href="https://twitter.com/MBTRomania" target="_blank">twitter</a></li>
                                <li class="googleplus"><a href="https://plus.google.com/107743334800615732041/posts" target="_blank">googleplus</a></li>
                            </ul>
                        </div><!--end:social-bookmarks-->
                    </div><!--end:social-media-widget-->
					
					<p id="back-top">
						<a href="#top"><i class="icon-chevron-up"></i></a>
					</p><!--end:back-top-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </footer><!--end:page-footer-->
{% endblock %}