<header id="flx-header" class="flx-divider cbp-af-header">
    <div class="wrapper">
      <div class="row-fluid">
        <div class="span12 clearfix">
          <div id="logo-image">
            <a href="index.html"><img src="placeholders/logo.png" alt="reciclare" /></a>
          </div><!--end:logo-image-->
          <nav id="main-nav">
            <ul id="main-menu" class="clearfix">
              <li {% if mixture.url == "index" %}class="current-menu-item"{% endif %}>
                <a href="index"><i class="icon-home"></i> Acasa</a>
              </li>
              <li {% if mixture.url == "oferta" %}class="current-menu-item"{% endif %}>
                <a href="oferta"><i class="icon-cogs"></i> Echipamente</a>
              </li>
              <li {% if mixture.url == "servicii" %}class="current-menu-item"{% endif %}>
                <a href="servicii"><i class="icon-tasks"></i> Servicii</a>
              </li>
              <li {% if mixture.url == "despre" %}class="current-menu-item"{% endif %}>
                <a href="despre"><i class="icon-group"></i> Despre</a>
              </li>
              <li {% if mixture.url == "contact" %}class="current-menu-item"{% endif %}>
                <a href="contact"><i class="icon-envelope-alt"></i> Contact</a>
              </li>
            </ul><!--end:main-menu-->
                        
            <div id="dl-menu" class="dl-menuwrapper">
              <button>Deschide Meniu</button>
              <ul class="dl-menu">
                <li>
                  <a href="index">Acasa</a>
                </li>
                <li>
                  <a href="oferta">Echipamente</a>
                </li>
                <li>
                  <a href="servicii">Servicii</a>
                </li>
                <li>
                  <a href="despre">Despre</a>
                </li>
                <li>
                  <a href="contact">Contact</a>
                </li>
              </ul>
            </div><!-- /dl-menuwrapper -->
          </nav><!--end:main-nav-->
        </div><!--end:span12-->
      </div><!--end:row-fluid-->
    </div><!--end:wrapper-->
  </header><!--end:flx-header-->